h1{
	color: #3b257c;
}

img{
	width: 200px;
	height: 200px;
}
td{
	text-align: center;
	font-style: italic;
}
  nav{
	margin:     0 auto;
		width:      940px;
		list-style: none;
}
nav ul {
		margin:     0 auto;
		width:      940px;
		list-style: none;
	}

		nav ul li {
			float: left;
		}
		
			nav ul li a {
				display:         block;
				margin-right:    30px;
				width:           280px;
				font-size:       18px;
				line-height:     44px;
				text-align:      center;
				text-decoration: none;
				color:           #777;
			}
