h1{
	color: #bc6fa1;
	font-size: 40px;
}
h4{
	font-size: 18px;
	color: #777;
}
header, footer, section,nav{
	display: block;
}
img{
	width: 200px;
	height: 200px;
}
td{
	text-align: center;
	font-style: italic;
}
p {
	padding-bottom: 1px;
	font-style: italic;
}
hr{
	width: 75%;
	color: #bc6fa1;
}
nav ul {
		margin:     0 auto;
		width:      940px;
		list-style: none;
	}

		nav ul li {
			float: left;
		}
		
			nav ul li a {
				display:         block;
				margin-right:    30px;
				width:           280px;
				font-size:       18px;
				line-height:     44px;
				text-align:      center;
				text-decoration: none;
				color:           #777;
			}
footer {
	position:   absolute;
	left:       0;
	width:      100%;
	background: #222;
}
footer div {
	display: table;
	margin:  0 auto;
	padding: 44px 0;
	width:   940px;
	color:   #777;
}
footer div section {
	display: table-cell;
	width:   300px;
}
footer div #Acerca {
	padding-right: 20px;
}
footer h3 {
	color:#bc6fa1;
}
	
footer a {
	color: #999;
}

footer a:hover {
	color:           #FFF;
	text-decoration: none;
}
	
footer ul {
	margin:     0 0 0 40px;
	list-style: square;
	color:      #565656;
}
	
footer ul li a {
	display: block;
}
